Label.logo {
  background-image: url( "/themes/codeaffine/icons/logo.png" );
}

Label.appname {
  background-image: url( "/themes/codeaffine/icons/appname.png" );
}

Label.footer_separator {
  background-image: url( "/themes/codeaffine/icons/footer_separator.png" );
}

Button.menu_button {
  color: #ffffff;
  background-color: transparent;
  background-image: none;
  padding: 3px 6px 3px 4px;
  font: bold 18px Arial, Helvetica, sans-serif;
  border: none;
}

Button.menu_button:hover {
  border: 1px solid #A4A4A4;
}

Composite.menubar_background {
  background-image: url( "/themes/codeaffine/icons/menubar_background.png" );
}

Shell {
  border:none;
  background-color: white;
  box-shadow: 5px 5px 3px rgba( 0, 0, 0, 0.5 );
}