
* {
  font: 14px Verdana, "Lucida Sans", Arial, Helvetica, sans-serif;
}

Table-Cell {
  spacing: 8px;
  padding: 8px;
}

Table-GridLine {
  color: transparent;
}

Label.header {
  font: 18px bold Verdana, "Lucida Sans", Arial, Helvetica, sans-serif;
}